.card{
    max-width: 500px;
    width: 100%;
    height: fit-content;
    border-radius: 14px;
    background: #F6F8FA;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__header{
        img{
            width: 500px;
            height: 100%;
        }
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;
        padding: 10px;
    }
    &--time{
        color: grey;
        margin-left: 8px;
        font-size: 14px;
    }
}