*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.insta-app{
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
    padding: 96px 16px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 8px 64px;
    background: #f6f6f6ee;
}

h2{
    text-align: center;
    margin: 36px 0;
    width: 100%;
}
