.sortbtn{
    width: 100%;
    background: green;
    color: white;
    border: none;
    outline: none;
    padding: 4px 8px;
    height: 36px;
    margin-bottom: 32px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}